<h3>Satellite Counts:</h3>
<div class="counts">
   
   <div>Total: <span>{{satellites.length}}</span></div>
   <div>Space Debris: <span>{{satelliteCount('Space Debris')}}</span></div>
   <div>Communication: <span>{{satelliteCount('Communication')}}</span></div>
   <div>Probe: <span>{{satelliteCount('Probe')}}</span></div>
   <div>Positioning: <span>{{satelliteCount('Positioning')}}</span></div>
   <div>Space Station: <span>{{satelliteCount('Space Station')}}</span></div>
   <div>Telescope: <span>{{satelliteCount('Telescope')}}</span></div>
</div>
