<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="color: green">
    <h1>{{name}}'s First Angular Project</h1>
  </h1>
  <img width="300" alt="Angular Logo" src="https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixlib=rb-1.2.1&w=1000&q=80">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">{{itemList[0]}}</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">{{itemList[1]}}</a></h2>
  </li>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://blog.angular.io/">{{itemList[2]}}</a></h3>
  </li>
</ul>

<p>The rectangle has a length of {{rectangle.length}} cm, a width of {{rectangle.width}} cm, and an area of {{rectangle.area()}} cm^2.</p>

